.hover-lift.svelte-u4k2t{transition:transform .3s ease,box-shadow .3s ease}.hover-lift.svelte-u4k2t:hover{transform:translateY(-8px);box-shadow:0 20px 40px #0000001a!important}.transition.svelte-u4k2t{transition:all .3s ease}
